#jupyter
*/.ipynb_checkpoints/
notebooks/

#secrets
*.env
*.pem
*.sh

#logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

poetry.lock
