[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
loguru = "*"
schedule = "*"
carrier-api = "*"
aiohttp = "*"

[dev-packages]
jupyter = "*"
seaborn = "*"
matplotlib = "*"
plotly = "*"
black = "*"

[requires]
python_version = "3.12"
